[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "extern/kaldi-native-fbank"]
	path = extern/kaldi-native-fbank
	url = https://github.com/csukuangfj/kaldi-native-fbank.git
